<div class="container">
  <h2 class="text-center font-weight-bold">
    WELCOME TO TURNTABL TWITTER ANALYSIS APP
  </h2>
  <p class="text-center text-muted">
    your leading analysis web app
  </p>

  <!-- grouped buttons here -->
  <div class="container-fluid">
    <div class="btn-group-vertical">
      <a routerLink="/ptweet" class="btn btn-primary" role="button"
        >most prolific tweets</a
      >
      <br />
      <a routerLink="/retweet" class="btn btn-primary" role="button"
        >most retweets</a
      >
      <br />
      <a routerLink="/timeline" class="btn btn-primary" role="button"
        >timeline</a
      >
      <br />
    </div>

    <!-- group buttons end -->
    <!-- image -->
    <div>
      <!-- <img id="welcome-img" src="assets/img/undraw_Hello_qnas.svg" alt="view-form-turntabl-snap" style="width:auto; height: auto;"> -->
      <img
        id="welcome-img"
        src="../../assets/pic.svg"
        alt="view-form-turntabl-snap"
        style="width:auto; height: 245px;"
      />
    </div>
    <!-- end -->
  </div>
</div>
