<!-- starting navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ApaHaflume</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>

      <!-- adding a service dropdown -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
          >Services <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/ptweet">prolific tweets</a></li>
          <li><a routerLink="/retweet">Retweets</a></li>
          <li><a routerLink="/timeline">Timeline</a></li>
        </ul>
      </li>

      <!-- dropdown ends here -->
      <li><a routerLink="/about">About</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- footer creation -->
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>© 2019 Copyright: the Haflume team</p>
    </div>
  </div>
</div>
<!-- end of footer -->
